<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Date:</ion-label>
        <ion-button fill="outline" slot="end">reprint</ion-button>
      </ion-item>
       <ion-text>Category:xxxxx <span style="float:right">Amount:0</span></ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Date:</ion-label>
        <ion-button fill="outline" slot="end">reprint</ion-button>
      </ion-item>
       <ion-text>Category:xxxxx <span style="float:right">Amount:000</span></ion-text>
    </ion-card-content>
  </ion-card>
  
</ion-content>
